Abbreviations

a) How may we expand "SIP-PBX" in the text below?

Original:
  The enterprise network consists of a SIP-PBX...

Perhaps:
  The enterprise network consists of a SIP Private Branch Exchange (SIP-PBX) ...


b) FYI - We have added expansions for the following abbreviations
per Section 3.6 of RFC 7322 ("RFC Style Guide"). Please review each
expansion in the document carefully to ensure correctness.

Privacy-Enhanced Mail (PEM) 
Secure Real-time Transport Protocol (SRTP) 
Simplified Data Encryption Standard (SDES)